@import '../../vars';

#Loading-screen {
    .container {
        @include flex-center;
        background: none;
        box-shadow: none;

        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 8rem;
            height: 8rem;
        }

        .lds-ellipsis div {
            position: absolute;
            top: 1rem;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $accent-color;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

        .lds-ellipsis div:nth-child(1) {
            left: .6rem;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: .6rem;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 3.2rem;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 5.5rem;
            animation: lds-ellipsis3 0.6s infinite;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }

        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(2.5rem, 0);
            }
        }

    }
}